body { margin: 0;
      font-family: Arial, sans-serif;
}

.App {text-align: center;
      color: #333;
}

.header {
        
        display: flex;
        justify-content: space-between;
        background: #DDFFE7;
}

.DPL-header{

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 3rem 1rem 3rem;
}
.DPL-header-button{

        padding: 1rem 2rem 1rem 2rem;
        color: black;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-left: 0rem;
        margin-right: 0rem;

        font-family: "IM FELL Great Primer SC";
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 60px */
}

.Buttons-header {

        display: flex;
        justify-content: space-between; /* Space between the buttons */
}
  
.header-button {

        padding: 3rem 4rem 3rem 4rem;
        color: black;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-left: 0rem;
        margin-right: 0rem;

        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */

        /* border: 1px solid black; */
}
.header-button:hover {
        background-color: #00796b;
        text-decoration: underline;
        color: white;
}

.header h1 {margin: 0;
}

.header nav a {margin: 0 1rem;
              text-decoration: none;
              color: #00796b;
}

.hero {padding: 2rem;}

.hero h2 {
        margin: 0.5rem 0;
        font-size: 40px;
}

.appointment-button {margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: #00796b;
        color: white;
        border: none;
        cursor: pointer;
}

.hours-operation {
        padding: 2rem;
        border-bottom: 1px solid #e0e0e0;
        text-align: left;
        background: #DDFFE7;
}

.hours-content {
        padding: 1rem 3rem 1rem 3rem;
}

.mission, .reviews, .contact {
        padding: 2rem;
        border-bottom: 1px solid #e0e0e0;
}

.mission-button {margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: #00796b;
        color: white;
        border: none;
        cursor: pointer;
}

.reviews .review-images {display: flex;
        justify-content: center;
        gap: 2rem;
}

.reviews .testimonials {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;
}

.reviews .testimonial {
        border: 1px solid #e0e0e0;
        padding: 1rem;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-button {margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: #00796b;
        color: white;
        border: none;
        cursor: pointer;
}
      
.contact {margin: 0.5rem 0;
        text-align: left;
        padding: 1rem 5rem 1rem 5rem;
}

.footer {
        display: flex;
        justify-content: space-between; /* Distributes space between DPL-footer and footer-links */
        align-items: center; /* Vertically centers items */
        background-color: #e0f7fa; 
        padding: 1rem; 
}

.DPL-footer p {
        font-weight: bold;
        padding: 1rem 4rem 1rem 4rem;
}
      
.footer-links {
        display: flex;
        gap: 20px; 
        padding: 1rem 3rem 1rem 3rem;
}
      
.footer-links a {
        text-decoration: none;
        color: #008080; 
        font-size: 16px; 
        padding: 1rem 1rem 1rem 1rem;
}
      