body { 
    margin: 0;
    font-family: Arial, sans-serif;
}

.App {
  
    text-align: center;
    color: #333;
}

/* HEADER CSS */

.header {
    
    display: flex;
    justify-content: space-between;
    background: #DDFFE7;
    
}
.DPL-header{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;
    
}
.DPL-header-button{

    padding: 1rem 2rem 1rem 2rem;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 0rem;
    margin-right: 0rem;
    font-family: "IM FELL Great Primer SC";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 60px */
}
.buttons-header-DIV {

    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.header-button {

    padding: 4rem;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px;

    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
}
.header-button:hover {
    background-color: #00796b;
    text-decoration: underline;
    color: white;
}
.header h1 {margin: 0;
}
.header nav a {margin: 0 1rem;
          text-decoration: none;
          color: #00796b;
}


/*BUTTONS CSS*/


.main-button {
    
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */

    transition: transform 0.3s ease;
}

.main-button:hover {

    transform: translate(0px, -3px);
    background-color:  #00796b;
}

/* H3 and P CSS */

h3{
    margin: 0 0 1rem 0;
    color: #000;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-align: left;
}

p { 
    margin: 0;
    color: #828282;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
}
/* TITLE CSS */

.title {
  
  padding: 2rem;
}
.title h2 {
  color: #000;

  text-align: center;
  
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  margin: 2rem 0 1rem 0;
}
.title p {
  color: #828282;

  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 350;
  line-height: 150%;
  font-style: italic;
  margin: 0.5rem 0 0.5rem 0;
}


/* HOURS OF OPPERATION CSS */

.hours-operation {
    padding: 2rem;
    display: flex;
    text-align: left;
    background: #DDFFE7;
}
.hours-content {
    margin-left: 3rem;
}
.hours-image{
    margin-left: 10rem;
    width: 50%;
    height: 100%;
    border: 1px solid black;
}
.hours-content {
    padding: 1rem 3rem 1rem 3rem;
}

/* OUR MISSION CSS */

.mission {
  padding: 20px;
}

.mission-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.crew-member {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 40px;
}

.member-image {
  flex: 1;
  max-width: 40%;
  padding-right: 20px;
}

.member-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.member-info {
  flex: 2;
  padding-left: 20px;
}

.member-info h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.role {
  font-weight: bold;
  margin-bottom: 10px;
}

.member-info p {
  margin-bottom: 10px;
}

.member-info a {
  color: #0077b5; /* LinkedIn color */
  text-decoration: none;
}

.linkedin-icon {
  margin-top: 10px;
}

.linkedin-icon img {
  width: 32px;
  height: 32px;
}

/* REVIEWS AND TESTIMONIALS CSS */

.reviews {
    padding: 2rem;
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    justify-content: space-between; /* Distribute space evenly between children */
}
.reviews > div {
    margin-bottom: 1rem; /* Adjust the spacing between each child */
}
.reviews-text{

    text-align: left;
    margin-left: 3rem;
    padding: 1rem 3rem;

    color: #000;
    /* Heading */
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 44px */
    text-align: left;
}
.testimonials {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.testimonial {
    border: 1px transparent;
    border-radius: 0.5rem;
    padding: 3rem 8rem 3rem 8rem;
    background-color: #ffffff;
    box-shadow: -5px 7px 15px 2px rgba(0, 0, 0, 0.1);

    color: #000;

    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.testimonial p{

    color: black;
}

/* CAROUSEL CSS */


.carousel-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
    height: auto;
    max-width: 1300px;
    max-height: 500px;
    margin: auto;
  }
.carousel {
    overflow: hidden;
    margin: auto;
    width: 100%;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.3s ease-in-out; /* Smooth sliding effect */
    width: 100%;
    margin: auto;
  }
  
  .carousel-slide img {
    width: 100%;
    border-radius: 10px;
    margin: 1rem;
  }
  
  .carousel-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .carousel-button {

    color: black;
    background-color: transparent;
    font-size: 3rem;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
  }
  
  .carousel-button:first-of-type {
    left: -70px; /* Adjust this value as needed */
  }
  
  .carousel-button:last-of-type {
    right: -70px; /* Adjust this value as needed */
  }
  
  .carousel-button:hover {
    color: #828282;
  }

/* CONTACT CSS */


.contact{

    padding: 1rem 5rem 3rem;
    margin-left: 3rem;
}


/* FOOTER CSS */


.footer {
    display: flex;
    justify-content: space-between; /* Distributes space between DPL-footer and footer-links */
    align-items: center; /* Vertically centers items */
    background-color: #e0f7fa; 
    padding: 1rem; 
    clear: both; /* Clear floats */
}
.DPL-footer p {
    font-weight: bold;
    padding: 1rem 4rem 1rem 4rem;
}
.footer-links {
    display: flex;
    font-family: Inter;
    font-size: 15px;
    gap: 20px; 
    padding: 1rem 3rem 1rem 3rem;
}
.footer-links a {
    text-decoration: none;
    color: #008080; 
    font-size: 16px; 
    padding: 1rem 1rem 1rem 1rem;
}
  
